@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;
@use "../foundation/breakpoints" as *;
@use "../common/parts" as *;

/* ================================
   説明：spのドロワーの設定方法
   step1 _variables.scssで$drawer-widthを設定する。
   step2 ドロワーのタイプ(A or B)によってstep-(A)または(B)を選定する。
   Step3 選定した方のドロワーの中身を編集する。(クラス名が別々なので選定していない方は無視でOK)
   Step4 オーバーレイの確認(通常は特に何もすることなし)
   ================================ */

/* ================================
   step2-(A)
   in-header:ヘッダーに属するドロワー

   ================================ */

.drawer-icon--in-header {
  position: relative;
  width: 32px;
  height: 32px;

  .drawer-icon__bar {
    position: absolute;
    left: 0;
    width: 32px;
    height: 3px;
    border-radius: 3px;
    background: black;
    transition:
      transform 0.3s linear,
      top 0.3s linear;

    &:nth-of-type(1) {
      top: 2px;
    }
    &:nth-of-type(2) {
      top: 15px;
    }
    &:nth-of-type(3) {
      top: 28px;
    }
  }

  &.is-checked {
    .drawer-icon__bar {
      &:nth-of-type(1) {
        top: 15px;
        transform: rotate(45deg);
      }
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        top: 15px;
        transform: rotate(-45deg);
      }
    }
  }

  @include mq(md) {
    display: none;
  }
}
.drawer-content--in-header {
  position: fixed;
  top: 56px; // header 高さ分下げる
  right: 0;

  width: $drawer-width;
  height: calc(100% - 56px);

  background-color: #0060a0; // .bg は使わない（意図的な例外）
  text-align: center;

  transform: translateX(100%);
  transition: transform 0.3s linear;

  &.is-checked {
    transform: translateX(0);
  }
}

/* ================================
   step2-(B)
   out-of-header:ヘッダーに属さない
   （独立した）ドロワー
   ================================ */
.drawer-icon--out-of-header {
  position: relative;
  width: 32px;
  height: 32px;

  .drawer-icon__bar {
    position: absolute;
    left: 0;
    width: 32px;
    height: 3px;
    border-radius: 3px;
    background: black;
    transition:
      transform 0.3s linear,
      top 0.3s linear;

    &:nth-of-type(1) {
      top: 2px;
    }
    &:nth-of-type(2) {
      top: 15px;
    }
    &:nth-of-type(3) {
      top: 28px;
    }
  }

  &.is-checked {
    display: none;
  }

  @include mq(md) {
    display: none;
  }
}
.drawer-content--out-of-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $z-header + 2; // drawer-overlay より上に表示

  width: $drawer-width;
  height: 100%;

  background-color: #0060a0; // .bg は使わない（意図的な例外）
  // text-align: center;
  text-align: left;

  transform: translateX(100%);
  transition: transform 0.3s linear;

  &.is-checked {
    transform: translateX(0);
    .drawer-icon--out-of-header {
      margin-left: -32px;
      .drawer-icon__bar {
        &:nth-of-type(1) {
          top: 15px;
          transform: rotate(45deg);
        }
        &:nth-of-type(2) {
          display: none;
        }
        &:nth-of-type(3) {
          top: 15px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

/* ================================
   Step3 
   Drawer Navigation (Mobile)
   ================================ */
//Nav基本形は_parts.scssで記述済み
//上書きが必要だったら、以下で行えます。

.drawer-nav {
  //中身はnav-linksとbutton(デフォルトはflex--column)
  height: 100%;
  padding-bottom: 60px; // 固定フッター分(上下中央配置の目安のため。不要なら消す)
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  .nav-links {
    //(デフォルトはblock)
  }

  .button {
    @include button-size(middle);
  }
  .nav-link {
    //リンク1個基本形
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 255px;
    padding: 15px 0;

    font-family: "Rounded Mplus 1c";
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    color: #fff;

    //仕切り用のライン。不要なら上書きで消す
    border-top: 1px dashed #fff;
    &:last-child {
      border-bottom: 1px dashed #fff;
    }

    &__main {
      display: flex;
      align-items: center;
      gap: 14px;
    }

    &__icon svg,
    &__deco svg {
      display: block;
    }

    &__icon svg {
      width: 24px;
      height: 24px;
    }

    &__deco svg {
      width: 14px;
      height: 14px;
    }
  }
}

/* ================================
   Step4 
   Drawer Overlay
   ================================ */
/*
  - HTMLの構造としてはheader の外に配置
  - header / footer より上または下(z-index調整)
  - drawer-content より下
*/

.drawer-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s linear;

  //drawer--in-headerの場合(オーバーレイがヘッダーの下になる)
  &--in-header {
    z-index: $z-header - 1;
  }

  //drawer--out-of-headerの場合(オーバーレイがヘッダーの上になる)
  &--out-of-header {
    z-index: $z-header + 1;
  }

  &.is-visible {
    opacity: 1;
    pointer-events: auto;
  }
}
