@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;
@use "../foundation/breakpoints" as *;
@use "../common/parts" as *;

/* ================================
   footer
================================ */
.site-footer {
  margin: 0 auto;
  text-align: center;
  position: relative;

  .footer__bg {
    position: absolute;
    inset: 0;
    background: #e6e1df;
    z-index: -1;
  }

  .inner--footer {
    padding-block: 40px 32px;
  }

  &__main {
    margin-bottom: 0;
  }
}

.footer-nav {
  display: none;

  @include mq(md) {
    display: flex;
    flex-direction: row;
    gap: $space-md;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;

    .nav-links {
      display: flex;
      flex-direction: row;
      gap: 24px;
      align-items: center;
    }

    .button {
      display: none;
    }

    .nav-link {
      border: none;
      width: auto;
      padding: 0;
      color: #333;
      text-decoration: none;

      &__main {
        flex-direction: row;
        gap: 0;
      }

      &__icon {
        display: none;
      }

      &__text {
        color: #333;
        font-size: 14px;
      }

      &__deco svg {
        display: none;
      }

      &:hover {
        opacity: 0.7;
        color: #333;
      }
    }
  }
}

.footer-meta {
  color: #333;
}

.footer-copyright {
  font-size: 14px;
  color: #333;
}

/* ===============================
  固定フッター
================================ */
.site-footer__fixed {
  display: none;
}
